@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@source '../../node_modules/fumadocs-ui/dist/**/*.js';

#Root {
  isolation: isolate;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-bg: var(--bg);
  --color-accent: var(--accent);
  --color-selected: var(--selected);
  --color-overlay: var(--overlay);

  --color-fg: var(--fg);
  --color-accent-fg: var(--accent-fg);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --color-primary: var(--primary);
  --color-primary-fg: var(--primary-fg);

  --color-danger: var(--danger);
  --color-danger-fg: var(--danger-fg);

  --color-success: var(--success);
  --color-success-fg: var(--success-fg);

  --color-warning: var(--warning);
  --color-warning-fg: var(--warning-fg);
}

@layer base {
  :root {
    --bg: oklch(100% 0 0);
    --accent: oklch(0.98 0.001 264);
    --selected: oklch(0.12 0.038 264 / 0.05);
    --overlay: var(--bg);

    --fg: var(--color-neutral-950);
    --accent-fg: var(--color-neutral-600);

    --border: oklch(0.12 0.036 264 / 0.07);
    --ring: var(--color-blue-600);

    --primary: var(--color-blue-600);
    --primary-fg: var(--color-blue-50);

    --success: var(--color-emerald-600);
    --success-fg: var(--color-emerald-50);

    --warning: var(--color-amber-600);
    --warning-fg: var(--color-amber-950);

    --danger: var(--color-red-600);
    --danger-fg: var(--color-red-50);

    --radius-lg: 0.5rem;
    --radius-xs: calc(var(--radius-lg) - 6px);
    --radius-sm: calc(var(--radius-lg) - 4px);
    --radius-md: calc(var(--radius-lg) - 2px);
    --radius-xl: calc(var(--radius-lg) + 2px);
    --radius-2xl: calc(var(--radius-lg) + 4px);
    --radius-3xl: calc(var(--radius-lg) + 6px);
    --radius-4xl: calc(var(--radius-lg) + 8px);
  }

  .dark {
    --bg: oklch(0% 0 0);
    --accent: oklch(0.17 0.001 264);
    --selected: oklch(0.28 0.003 264 / 0.65);
    --overlay: var(--accent);

    --fg: var(--color-neutral-50);
    --accent-fg: var(--color-neutral-400);

    --border: oklch(0.29 0.003 264 / 0.8);
    --ring: var(--color-blue-600);

    --primary: var(--color-blue-500);
    --primary-fg: var(--color-blue-100);

    --success: var(--color-emerald-500);
    --success-fg: var(--color-emerald-100);

    --warning: var(--color-amber-500);
    --warning-fg: var(--color-amber-950);

    --danger: oklch(65.58% 0.2295 25.331);
    --danger-fg: var(--color-red-100);
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-border outline-border ring-ring;
  }
}

@layer base {
  * {
    font-feature-settings: "cv11", "ss01";
    font-variation-settings: "opsz" 850;
    text-rendering: optimizeLegibility;

    /*
     * Scrollbar
     */
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  body {
    background-color: var(--bg);
    color: var(--fg);
  }
}
